.container{
    display: flex;
    flex-wrap: wrap;
    
    div{
        flex-grow: 1;
        width: 33%;
    }
}

.button{
    text-transform: uppercase;
    color: #89bdd3;
    background: transparent;
    border: none;
    padding: 10px;
    &:active{
        color: #89bdd3;
    }
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}