.title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'OswaldLight';
    font-size: 30px;
}

.medserv{
    background-color:#fff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}